<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>First Stage</title>
</head>

<body>
    <div class="container py-5">
        <div class="card signup_v4 mb-30">
            <div class="card-body">
                <div class="widgets-wrap float-md-left">
                    <div class="widget-header mr-3">
                        <button class="icon icon-sm rounded-circle border" id="home">
                            <i class="fa fa-home center-xy"></i>
                        </button>
                    </div>
                </div>
                <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase">
                    First Stage
                </h4>
                <form>
                    <div class="form-row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="teamName"><b>Name of the team</b></label>
                            <input class="form-control" type="text" placeholder="Type in the name of the team"
                                id="teamName" name="teamName" #teamName required />
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="venue"><b>Select your venue</b></label>
                            <select class="custom-select" id="venue" name="venue" #venue>
                            </select>
                        </div>
                        <div class="mb-2 col-md-12">
                            <label class="form-label" for="searchResponsible"><b>Search for the responsible of the team</b></label>
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="searchResponsible"
                                    placeholder="Search for responsible" name="searchResponsible" />
                                <button class="btn btn-primary" type="button" id="searchResponsibleBtn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div id="responsibleResults"></div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="responsible"><b>Responsible of the team</b></label>
                            <div id="responsible"></div>
                        </div>

                        <div class="mb-2 col-md-12">
                            <label class="form-label" for="searchMember"><b>Search members</b></label>
                            <div class="input-group mb-1">
                                <input type="text" class="form-control" id="searchMember"
                                    placeholder="Search for members" name="searchMember" />
                                <button class="btn btn-primary" type="button" id="searchBtn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <div id="memberResults"></div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="memberList"><b>Member list</b></label>
                            <div id="members"></div>
                        </div>
                    </div>
                    <hr class="mt-3 mb-4" />
                    <div class="col-12">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="mt-2 mb-3">
                                <button class="btn btn-primary full-width" id="back" type="button">
                                    <p>Back</p>
                                </button>
                            </div>
                            <div class="mt-2 mb-3">
                                <button class="btn btn-primary full-width" type="button" id="save">
                                    <p>Save form</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>