<div class="container py-5">
  <div class="card signup_v4 mb-30">
    <div class="card-body">
      <h1 class="text-center">Engine</h1>
      <div class="form-group">
        <div class="mb-3 col-md-12"> 
          <select multiple class = "form-control" id="EngineSelect">
            <option value="1">Ejemplo 1</option>
            <option value="2">Ejemplo 2</option>
            <option value="1">Ejemplo 3</option>
            <option value="2">Ejemplo 4</option>
            <option value="1">Ejemplo 5</option>
            <option value="2">Ejemplo 6</option>
            <option value="1">Ejemplo 7</option>
            <option value="2">Ejemplo 8</option>
            <option value="1">Ejemplo 9</option>
            <option value="2">Ejemplo 10</option>
          </select>        
          <div class="mb-3 col-md-12">
            <div class="mt-2 mb-3">
              <input type="text" class = "form-control" placeholder="Engine name"> 
            </div>  
            <div class="mt-2 mb-3">
              <button type="button" class="btn btn-primary full-width" id="addEngineButton">
                  <p>Add Engine</p>
              </button>
            </div>
          </div> 
        </div>       
      </div>
    </div>
  </div>
</div>
  