<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img
        src="..\..\assets\images\gamejamLogo.png"
        class="card-img-top mt-3 mb-5"
        alt="Imagen descriptiva"
      />
      <div class="card">
        <div class="card-header text-center">Login</div>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="example@email.com"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-primary" id="login">
                Login
              </button>
              <button type="button" class="btn btn-secondary" id="register">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
