<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>

<body>
    <div class="container py-5 col-md-4">
        <div class="justify-content-center">
            <img src="..\..\assets\images\gamejamLogo.png" class="card-img-top mt-3 mb-5" alt="Imagen descriptiva" />
        </div>
        <div class="card">
            <div class="card-body">
                <div class="widgets-wrap float-md-left">
                    <div class="widget-header mr-3">
                        <button class="icon icon-sm rounded-circle border" id="home"><i
                                class="fa fa-home center-xy"></i></button>
                    </div>
                </div> <!-- widgets-wrap.// -->
                <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase;">Login</h4>
                <form class="mb-3">
                    <div class="mb-3">
                        <label for="email">Email/username: *</label>
                        <input type="email" class="form-control" id="email" placeholder="example@email.com" required />
                    </div>
                    <div class="mb-3">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control" id="password" placeholder="Password" required />
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" id="register">
                            Register
                        </button>
                        <button type="button" class="btn btn-primary" id="login">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>