<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Group Information</title>
</head>

<body>
    <div class="container py-5">
        <div class="card signup_v4 mb-30">
            <div class="card-body">
                <div class="widgets-wrap float-md-left">
                    <div class="widget-header mr-3">
                        <button class="icon icon-sm rounded-circle border" id="home">
                            <i class="fa fa-home"></i>
                        </button>
                    </div>
                </div>
                <!-- widgets-wrap.// -->
                <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase">
                    Team Information
                </h4>
                <form>
                    <div class="form-row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="teamLogoDiv">Team logo *</label>
                            <div id="teamLogoDiv">
                            </div>
                            <input class="form-control" type="file" id="teamLogoInput" name="teamLogoInput" #teamLogoInput required />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="companyName">
                                    If the team is formed by an existing game studio/company, name it</label>
                            <input class="form-control" type="text" placeholder="Type in your answer" id="companyName"
                                name="companyName" #companyName />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="teamExistence">How long has this team/studio been in
                                    existence? *</label>
                            <input class="form-control" type="number" placeholder="Enter the number of years"
                                id="teamExistence" name="teamExistence" #teamExistence min="0" required />
                        </div>

                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="teamLink">
                                    If the team is formed by an existing game studio/company,
                                    please share the website (or social media) link</label>
                            <input class="form-control" type="text" placeholder="Type in your answer" id="teamLink"
                                name="teamLink" #teamLink />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label>About this team *</label>
                            <div>
                                <label class="form-label" for="metInGameJamPlus">
                                    <input type="radio" id="metInGameJamPlus" name="teamHistory"
                                        value="Never worked together before and met in GameJamPlus" required />
                                    Never worked together before and met in GameJamPlus
                                </label>
                            </div>

                            <div>
                                <label class="form-label" for="metBeforeEvent">
                                    <input type="radio" id="metBeforeEvent" name="teamHistory" value="Never worked together before and met before the event"
                                        required />
                                    Never worked together before and met before the event
                                </label>
                            </div>
                            <div>
                                <label class="form-label" for="someWorkedTogetherGameJam">
                                    <input type="radio" id="someWorkedTogetherGameJam" name="teamHistory"
                                        value="Some member already worked together and the rest met on GameJamPlus" required />
                                    Some members already worked together, and the rest met at
                                    GameJamPlus
                                </label>
                            </div>
                            <div>
                                <label class="form-label" for="someWorkedTogetherBeforeEvent">
                                    <input type="radio" id="someWorkedTogetherBeforeEvent" name="teamHistory"
                                        value="Some member already worked together and the rest met before the event" />
                                    Some members already worked together, and the rest met
                                    before the event
                                </label>
                            </div>
                            <div>
                                <label class="form-label" for="allWorkedTogether">
                                    <input type="radio" id="allWorkedTogether" name="teamHistory"
                                        value="All members had already worked together" />
                                    All members had already worked together
                                </label>
                            </div>
                            <div>
                                <label class="form-label" for="other">
                                    <input type="radio" id="other" name="teamHistory" value="Other" />
                                    Other
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-3 mb-4" />
                    <div class="col-12">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="mt-2 mb-3">
                                <button class="btn btn-primary full-width" id="back">
                                    <p>Back</p>
                                </button>
                            </div>
                            <div class="mt-2 mb-3">
                                <button class="btn btn-primary full-width" type="button" id="save">
                                    <p>Save form</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>