<div class="container py-5">
  <div class="card signup_v4 mb-30">
    <div class="card-body">
      <h1 class="text-center">Platform</h1>
      <div class="form-group">
        <div class="mb-3 col-md-12" > 
          <select multiple class= "form-control"  aria-label="Select platform" id="platformSelect">                        
          </select>                            
        </div> 
        <div class="mb-3 col-md-12">
          <button class="btn btn-danger" id="deleteSelected" type="button">
              Delete selected
          </button>
        </div> 
        <div class="mb-3 col-md-12">          
          <input type="text" class = "form-control" placeholder="platform name" id="platformName" >           
        </div>
        <div class="mb-3 col-md-12">
          <button type="button" class="btn btn-primary full-width" id="addPlatformButton"  >
              <p>Add platform</p>
          </button>
        </div>      
      </div>
    </div>
  </div>
</div>
  