<div class="container">
    <h1 class="text-center">Main Menu</h1>
    <nav class="navbar navbar-light ">
      <div class="navbar-nav">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="firstStage">First stage</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="teamInfo">Team Information</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="gameInfo">Game Information</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="register">Register</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="login" >Login</button>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="get-zip" >Get Zip</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="get-pitch" >Get Pitch</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="gamejam" >Manage GameJams</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="engines" >Manage Engines</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  id="platforms" >Manage Platforms</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  