<div class="container">
    <h1 class="text-center">Main Menu</h1>
    <nav class="navbar navbar-light ">
      <div class="navbar-nav">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  [routerLink]="['/game-info']">Game Information</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block"  [routerLink]="['/team-info']">Team Information</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block">Botón 3</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block">Botón 4</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary btn-block">Botón 5</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  