<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Game information</title>
</head>

<body>
    <div class="container py-5">
        <div class="card signup_v4 mb-30">
            <div class="card-body">
                <div class="widgets-wrap float-md-left">
                    <div class="widget-header mr-3">
                        <button class="icon icon-sm rounded-circle border" id="home">
                            <i class="fa fa-home"></i>
                        </button>
                    </div>
                </div>
                <!-- widgets-wrap.// -->
                <h4 class="text-center mt-4 mb-4" style="text-transform: uppercase">
                    Game information
                </h4>
                <form>
                    <div class="form-row">
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="gameName">Name of the game *</label>
                            <input class="form-control" type="text" placeholder="Type in the name of the game"
                                id="gameName" name="gameName" #gameName required />
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label" for="gameLogoDiv">Game logo *</label>
                            <div id="gameLogoDiv">
                            </div>
                            <input class="form-control" type="file" id="gameLogoInput" name="gameLogoInput" #gameLogoInput required />
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="description">Description *</label>
                            <textarea class="form-control" id="description" name="description" #description></textarea>
                        </div>
                        <div class="mb-3 col-md-12" id="themesDiv">
                            <label>Select the theme(s) of your game *</label>
                        </div>
                        <div class="mb-3 col-md-12" id="categoriesDiv">
                            <label>Will your game compete in any of these categories?</label>
                        </div>
                        <div class="mb-3 col-md-12" id="platformsDiv">
                            <label>Main supported platforms *</label>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label>Game genre: *</label>
                            <select id="genreSelect" class="form-control" multiple>
                            </select>
                        </div>
                        <!-- Botón para agregar opciones seleccionadas -->
                        <div class="mb-3 col-md-12">
                            <button id="addSelected" class="btn btn-primary" type="button">
                                Add selected
                            </button>
                        </div>
                        <!-- Lista de opciones seleccionadas -->
                        <div class="mb-3 col-md-3">
                            <label>Selected Genres: *</label>
                            <select id="selectedGenres" class="form-control" multiple>
                            </select>
                        </div>
                        <div class="mb-3 col-md-12">
                            <button class="btn btn-danger" id="deleteSelected" type="button">
                                Delete selected
                            </button>
                        </div>

                        <div class="mb-3 col-md-12" id="enginesDiv">
                            <label>Which game engine was used? *</label>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label class="form-label" for="isForUnderAge">
                                <input type="checkbox" id="isForUnderAge" name="isForUnderAge" #isForUnderAge>
                                 Is your game suitable for kids?
                            </label>
                        </div>
                        <div class="mb-3 col-md-2">
                        </div>
                    </div>
                    <hr class="mt-3 mb-4" />
                    <div class="col-12">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="mt-2 mb-3">
                                <button class="btn btn-primary full-width" id="back" type="button">
                                    <p>Back</p>
                                </button>
                            </div>
                            <div class="mt-2 mb-3">
                                <button class="btn btn-primary full-width" id="save" type="button">
                                    <p>Save</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>